<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat</h3>
  </div>
  <div class="panel-body">
    <%= render 'chat_list' %>
    <%= render 'conversation' %>
  </div>
</div>
